<div class="row-fluid" id="profile_fluid">
<div class="span8">
  <span class="help-block" id="module_help">  Modules I can also help</span>
</div>
<div class="span4">
  <input type="text" class="input-medium search-query">
  <button type="submit" class="btn">
    Search
  </button>
</div>
<span class="label">EG2401</span>
<span class="label">EG3002</span>
</div>