<div class="popular-topic">
	<%= render "users/user_photo",{user:micropost.user,need_div: true, size:30} %>
	<div class="title click_count" data-id=<%=micropost.id%> >
		<%=link_to micropost.title[0..30]+"...", micropost %>
	</div>
</div>