<div class="populartopics">
  <h5>Popular Topics</h5>
  <% if @microposts.nil? %>
  <% else %>
  <% @microposts.each do |m| %>
  	<%= render 'popular_topic', :micropost=> m %>
  <% end %>
  <% end %>
</div>
