<% provide(:title, 'Home') %>

<div class="center hero-unit">
<h1>Welcome to the NUS HELP</h1>

<h2>
This is the home page for the
<a href="http://github.com/wupei/">NUS HELP Github</a>
</h2>

<%= link_to "Sign up now!", signup_path , class: "btn btn-large btn-primary" %>
</div>


