<% provide(:title, 'Privacy Policy') %>
<% content_for :content do %>
  <div class="privacy">
    <h2>Privacy Policy</h2>
    <p>NUS HELP is committed to protect our users' privacy. This statement is meant to inform our users of how we define, gather and utilise personally identifiable information. We will take reasonable steps to protect user privacy consistent within the guidelines set forth in this policy and the law. By using this site, you consent to the following privacy policy.</p>
    <p>This policy was last modified on
      <strong>7 July, 2013.</strong></p>
    <h4>Personal Information</h4>
    <p>User information  is collected when filling out a form, processing an order or signing in through third party (the NUS account via IVLE API).
      <strong>At no point your NUS account is stored on this site or handled by us directly.</strong>
      <p>Cookies are used to store information about your current session and other preferences. This information may be used to track user progress and to offer a more personalized experience. Cookies can be disabled or cleared in your web browser settings.</p></p>
    <h4>Third Parties</h4>
    <p>We do not sell, trade, or otherwise transfer user information to outside parties. This does not include the National University of Singapore. We may release your information under the request from National University of Singapore when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others right, property, or safety. However, non-identifiable visitor information may be provided for others for marketing, advertising, or other uses.
    </p>
    <p>
      The National University of Singapore has its own policy, it applies for all the behaviour on this website.
    </p>
  </div>
<% end %>
