<%= form_for ([micropost, micropost.comments.build]) do |comment_builder| %>
  <div class="field">
    <%= comment_builder.text_field :content, placeholder: "Compose new commnet..."%>
  </div>
  <div class ="hide">
    <%= comment_builder.submit "reply", class: "btn btn-small btn-primary" %>
  </div>
<% end %>
