<%= form_for ([micropost, micropost.comments.build(user_id: current_user.id)]) do |comment_builder| %>
  <div class="field">
  	<%= comment_builder.hidden_field :user_id %>
    <%= comment_builder.text_area :content, placeholder: "Compose new help..."%>
  </div>
  <div class ="reply">
    <%= comment_builder.submit "Help", class: "btn btn-small btn-primary" %>
  </div>
<% end %>
