<div class="span4" id="span4_module">
  <div id="module_table">
    <div class="clearfix">
      <div id="module_code">
        <%= @module.code%>
      </div>
       <div id="module_name">
         <%= link_to @module.name%>
      </div>
      <div id="module_follow">
        <button class="btn btn-primary" type="button">Follow</button>
      </div>
     </div>
  </div>   