<div class="span4" id="span4_module">
 <div class="module_table">
   <div class="clearfix">
   	 <div class="module_code">
    <%= link_to nus_module.code, nus_module %> 
      </div>
     <div class="module_name" >
         <%= nus_module.name%>
      </div>
    </div>
  </div>  
</div>