<div class="span4" id="span4_module">
 <div id="module_table">
   <div class="clearfix">
   	 <div id="module_code">
    <%= link_to nus_module.code, nus_module %> 
      </div>
     <div id="module_name">
         <%= nus_module.name%>
      </div>
    </div>
  </div>  
</div>