<div class="popularmods">
  <h5>Popular Modules</h5>

  <% @popular_mods.each do |m| %>
  	<%= render 'popular_mod', :mod => m %>
  <%end%>

    <%= link_to 'Show more popular modules', url_for(:controller => :nus_modules, :action => :module_all) %>
</div>
