<% if current_user %>
<div class="well">
  <div>
    <% if current_user.mods.any? %>
      <h4>Modules I'm Following:</h4>
      <div class="module-tags">
        <% current_user.mods.each do |m| %>
          <span class="module-tag"> <%= link_to m.code, m ,{:title=>m.name,:class=>"needToolTip "}%><a class="close needToolTip unfollow" title="Unfollow">x</a></span>
      <% end %>
      </div>
    <% else %>
    <h4>You're not following any module yet.</h4>
    <div class="module-tags">
      </div>
    <% end %>
  </div>

  <div class="search-query">
    <div id="resize_box">   
    <%= text_field_tag :searchm ,params[:searchm], data: {autocomplete_source: module_list_url}, placeholder: "Filling any modules you want to follow, a list of suggestions would popup." %>
    </div>
  </div>

</div>
<% end %>
