<div class="span4" id="span4_module">
  <div id="module_table">
    <div class="clearfix">
      <div id="module_code">
        CS2020
      </div>
       <div id="module_name">
         Dataset and algorithm 
      </div>
      <div id="module_follow">
        <button class="btn btn-primary" type="button">Follow</button>
      </div>
     </div>
  </div>   
 </div>      