<% provide(:title, @nus_module.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @nus_module.name %>
        <p><%= @nus_module.code %></p>
      </h1>
    </section>
    <p><%= @nus_module.description %></p>
  </aside>

</div>
