<% provide(:title, @nus_module.name) %>
<div class="row">
  <div class="span8">
    <% if signed_in? %>
      <%= render 'modFollow', :nus_module =>@nus_module %>
      <%= render 'shared/feed' %>
    <% end %>
  </div>
</div>
