<div>
  <span class="help-block">  Alart Preference</span>
  <div class="row-fluid">
    <div class="span6" id="Alart_period">
      <label class="checkbox">
        <input type="checkbox">
        Email Me when:
        <label class="checkbox" id="ask_for help">
          <input type="checkbox">
          Someone ask me for help!
        </label>
        <label class="checkbox" id="help_request">
          <input type="checkbox">
          A Help Request about modules I can help
        </label>
        <label class="checkbox" id="help_reply">
          <input type="checkbox">
          Someone replies to my help request
        </label>
      </label>
    </div>
    <div class="span6">
      Frequency
      <br>
      <label class="radio inline" id="ask_for_help_daily">
        <input type="radio" name="genderRadios" id="male" value="male" checked="">
        Daily
      </label>
      <label class="radio inline" id="ask_for_help_request">
        <input type="radio" name="genderRadios" id="female" value="female">
        Per Request
      </label>
      
    </div>
  </div>
</div>