<div class="popularusers">
  <h5>Popular Users</h5>
  <% @popular_users.each do |u| %>
  	<%=  render 'user_popular', :user=> u  %>
  <% end %>
  <%= link_to 'Show more users', url_for(:mode=>"popular" , :controller => :users, :action => :index) %>
</div>
