<div id="user-popular">
	<div class="user_photo">
    <%= link_to (gravatar_for((user),{:size=>30})), user %>
	</div>
  <div class="user_name">
    <%= link_to user.name, user %>
  </div>
  <div class="follow">
    <%= render 'follow_form' if signed_in? %>
  </div>
</div>
