<% provide(:title, 'All users') %>
<% content_for :content do %>
  <h1>
    All Users</h1>
    <div class="row-fluid">
    <div id="user_switch" class="span3 offset8">
      <button class="btn btn-primary" type="button">Switch to other users</button>
  </div>
</div>
  <div>
    <%= render @users %>
  </div>
  <%= will_paginate @users %>
<% end %>
<% content_for :firstsidebar do %>
  <%= render 'layouts/sidebar' %>
<% end %>
<% content_for :secondsidebar do %>
  <%= render 'popularusers' %>
<% end %>

