<% provide(:title, @user.name) %>

<% content_for :content do %>
  <%= render 'follow_form' if signed_in? %>
  <% if @user.microposts.any? %>
    <h3>Microposts (<%= @user.microposts.count %>)</h3>
    <ol class="microposts">
      <%= render :partial => 'microposts/micropost', :collection => @microposts%>
    </ol>  
    <%= will_paginate @microposts %>
  <% end %>
<% end %>
