<div class="module-feed">
<% if @feed_items.any? %>
  <ol class="microposts">
    <%= render partial: 'shared/feed_item', collection: @feed_items %>
  </ol>
<% else %>
  <em> There's no feed yet. </em>
<% end %>
</div>
