<% size = "30x30" if (size and size == :small) else "150x150" %>
<% user_render = @user.nil? ? current_user : @user %>
<a href="<%= user_path(user_render) %>">
  <% if user_render.photo.to_s == "/uploads/user/photo/#{user_render.id}/0".to_s %>
    <% if user_render.gender == 0 %>
      <%= image_tag "man.jpeg" , :size => size, :crop => :fill%>
    <% else %>
      <%= image_tag "women.jpeg" , :size => size, :crop => :fill%>
    <% end %> 
  <% else %>
    <%= image_tag user_render.photo, :size => size, :crop => :fill%>
  <% end %>
</a>
