<div class="user-info-pad">
  <div>
    <a href="<%= user_path(current_user) %>">
      <%= gravatar_for current_user, size: 52 %>
    </a>
    <h3>
      <%= link_to current_user.name, current_user %>
    </h3>
  </div>
  <div>
    <%= render 'shared/stats' %>
  </div>
</div>
