<% user_render = @user || current_user %>
<div class="user-info-pad">
  <div>
    <%= render 'shared/user_photo' %>
  </div>
</br>
  <div>
    <%= render 'shared/stats' %>
  </div>
<h3>
  <%= link_to user_render.name, user_render %>
</h3>

