<div class="user-info-pad">
  <%= link_to gravatar_for(current_user,{:size=>50}), current_user %>
  <h5>
    <%= link_to current_user.name, current_user %>
  </h5>
  <div class="sep15">
  </div>
  <%= render 'shared/stats' %>
</div>
