<% provide(:title, @micropost.title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @micropost.title %>
      </h1>
    </section>
    <p><%= @micropost.content %></p>
  </aside>
</div>
