// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.activity {
	border-bottom: solid 1px #CCC;
	padding: 16px 0;
	em {
		color: #777;
		font-size: 12px;
		padding-left: 5px;
		margin-bottom: 1px;
		width: 570px;
}
}

.user_image {
	float: middle;
	margin-top: 1px;
	margin-bottom: 18px;
}

.notificationTitle {
	margin-left: 10px;
}

.notification {
	border-bottom: solid 1px #CCC;
}

.notificationNumber{
	line-height: 12px;
	font-weight: bold;
	color: white;
	background-color: gray;
	display: inline-block;
	padding: 2px 10px 2px 10px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	text-decoration: none;
	margin-right: 5px;
}
