/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.datepicker
 *= require jquery.ui.tooltip
 *= require jquery.fileupload-ui
 *= require_tree .
 */
.content {
  background-color: #eee;
  display:block;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  margin-top: 0px;
}

.pagination{
  clear:both
}

.module-tag{
  background-color: #77BEE8;
  color: black;
  border: 1px solid #e3e3e3;
  padding: 5px;
  margin: 5px;

  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px; 

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  display: inline-block
}

.module-tags{
  margin: 5px;
  padding: 15px;
}

.module-tag a{
  color: black;
}

.privacy{
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  h2{
  }
  p{
    font-weight: normal;
    font-size: 12px;
    font-style: none;
  }
}

