// Place all the styles related to the HelpRecs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


textarea#help_rec_helper_comment{
  width:96%;
  margin-left: 10px;
  height: 200px;
}

#help_rec_contact_info{
  width: 96%;
  margin-left: 10px;
}

#thanks
  {
   font-size:12px;
  float:right;
  display:inline-block;
  margin-top: -10px;
  }

#contact_info{
   display:inline-block;
   padding-left: 10px;
   width: 98%;
   background-color: #EEE;
 } 

.thanks-message{
  padding-top: 5px;
  padding-left: 10px;    
  padding-bottom: 20px;
  background-color: #29e497;
  border-bottom: 1px solid #AAA;

  .helper_photo{
    margin-right:5px;
    display:inline-block;
    float: left;
    vertical-align:top;

  }
  div.helpee-region{
    display: inline-block;
    width: 90%
  }

  .helpee-name{
  padding-left: 10px;
  color:gray;
  font-size:12px;
  display:inline-block;
  font-weight:bold;
  }

  div.helpee-content{
    font-size:16px;
    padding-left: 10px;
  } 
}

.thanks-from
{
	padding-top:5px;
  table, td{
       border-bottom: 0px solid #e2e2e2;
       padding-bottom: 5px;
       padding-top:5px;
  }
  .helpee-name
      {
      font-size:11px;
      display:inline-block;
      font-weight:bold;
      color:gray;
     }
   .helpee-content
   {
     font-size:12px;
   }  
}

.feedback
{ 
  padding-top: 10px;
  background-color: #98efee;
  padding-left: 10px;
  padding-bottom: 10px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  .feedback_message{
    padding-bottom: 10px;
    .helper_photo{
    margin-right:5px;
    display:inline-block;
    float: left;
    vertical-align:top;

    }
    div.helpee-region{
      display: inline-block;
      width: 90%
    }

    .helpee-name{
    padding-left: 10px;
    color:gray;
    font-size:12px;
    display:inline-block;
    font-weight:bold;
    }

    div.helpee-content{
      font-size:16px;
      padding-left: 10px;
    } 
  }
}

