// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.post_info{
	
	border: 2px solid;
	border-color: black;
	padding: 20px;

	div.post-title{
		span{
			font-size: 2em;
			font-family: Impact;
		}
	}
	div.post-time{
		span{
			margin-left: 5px;
		}
	}
	div.post-row{
		div{
			display: inline;
			color: grey;
			margin-right: 10px;
		}
	}
}

div.help-self{
	padiing: 10px;

	div{
		display: inline;
	}
	div.help-content{
		span{
			display: block;
		}
	}
}


div.post-right-bar{
	margin-right: auto;
	div.user{
		.profile-photo{
			height: 100%;
	    	width: 150px;
	    	float:left;
		}
		text-align:center;
	}
	div.helper{
		border: 2px solid;
		border-color: pink;
		text-align:center;
		margin-top: 20px;
	}

}

div.help_form{
	button{
		float: right;
	}
	
}
