// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.post_info{
	
	border: 5px solid;
	border-color: pink;
	i{
		margin-left:20px;
	}
	span{
		display: inline-block;
		width: 400px;
		vertical-align:text-center;
		font-size:15px;
		margin-left:40px;
		color:black;
	}
	span.post-gift{
		color:red;
	}
	span.post-time{
		width:400px;
	}

	textarea{
		display: inline-block;
		width: 400px;
		vertical-align:text-center;
		font-size:20px;
		margin-left:40px;
		color:grey;
	}
}

div.help_form{
	button{
		float: right;
	}
	
}

div.user{
	.profile-photo{
		height: 100%;
    	width: 150px;
    	float:left;
	}
	.user-info{

		p{
			text-align:center;
		}	
	}
}

div.helpers{
	div.helper{
		border: 2px solid;
		border-color: pink;
		text-align:center;
		margin:30px;
	}
}
