// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.post_info{
	margin-top:30px;
	border: 2px solod;
	border-color: black;
	padding: 20px;

	div.post-title{
		span{
			font-size: 2em;
			font-family: Impact;
		}
	}
	div.post-time{
		span{
			margin-left: 5px;
		}
	}

}

.helpcontent{
	div.user_photo{
		display:inline-block;
		vertical-align:top;
	}

	#comment-record{
		margin-right: 20px;
	}
	#helper-strong{
		color: #870a0a;
	}
	#click-strong{
		color: #8d8383;
	}
	div.user-post{
		
		width: 90%;
		display: inline-block;
		.record{
			text-align: center;
			float: right;
			margin-right: 10px;
			margin-top:10px;	
			width: 60px;
			.countNumber{
				line-height: 12px;
				font-weight: bold;
				color: white;
				background-color: #6ea0b0;
				display: inline-block;
				padding: 2px 10px 2px 10px;
				-moz-border-radius: 12px;
				-webkit-border-radius: 12px;
				border-radius: 12px;
				text-decoration: none;
				text-align: center;
			}
			strong{
				font-size: 11px;
				display: block;
				text-align: right;
				text-align: center;
			}	

		}
	}
}

div.help-self{
	padiing: 10px;

	div{
		display: inline;
	}
	div.help-content{
		span{
			display: block;
		}
	}
	#contact-info
	{
	   display:inline-block;
	}	
	#thanks
	{
	   display:inline-block;
	   float:right;
	}
}


div.post-right-bar{
	padding-top:10px;
	padding-bottom:5px;
	margin-right: auto;
	div.user{
		.user-photo{
			height: 100%;
	    	width: 150px;
	    	float:left;
		}
		text-align:center;
	}
	div.helper{
		border: 1px solid;
		border-color: pink;
		text-align:center;
		margin-top: 20px;
	}

}

div.help_form{
	button{
		float: right;
	}
	
}

.nav {
	margin-bottom: 0px;
}
