// Place all the styles related to the nus_modules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hide_submit{
	display:none
}

#resize_box{
	width: 500px;
	margin-left: 25px;
}

.smallNode{
	font-size: 0.8em;
    .gift{
        display: block;
        i{
            display: inline-block;  
            vertical-align: text-bottom;
        }
        color: #6cb4e6;
    }
}

.itemTitle{
	font-size: 1.1em;
	border-bottom: 1px;
	border-bottom-color: #CCC;
}

.mytimestamp{
	color: gray;
}
.sep8{
	height: 8px;
}

#span4_module{
    margin-left: 3px;
	margin-right: 5px;
}

#module_table{
    background-color: white;
    border: 1px solid;
    border-color: #1d9bbf;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right:10px;
    padding-top:10px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 8px 8px 8px #888888;
    #module_code{
        font-size:18px;
        color: blue;
        font-weight:bold;
    }
    #module_name{
        font-size:15px;
        color:#999;

    }

}

.well{
    margin-bottom:0px;
}

.popular-module{
    padding-left:10px;

    margin-bottom:10px;
    border-bottom: solid 1px #999; 
    .mod-code{

    }
    .mod-name{

    }
}

