// Place all the styles related to the nus_modules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hide_submit{
	display:none
}

#resize_box{
	width: 500px;
	margin-left: 25px;
}


