// Place all the styles related to the nus_modules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hide_submit{
	display:none
}

#resize_box{
	width: 500px;
	margin-left: 25px;
}

.countNumber{
	float: right;
	line-height: 12px;
	font-weight: bold;
	color: white;
	background-color: gray;
	display: inline-block;
	padding: 2px 10px 2px 10px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	text-decoration: none;
	margin-right: 50px;
	margin-top:20px;
}

.smallNode{
	font-size: 0.8em;
}

.itemTitle{
	font-size: 1.1em;
	border-bottom: 1px;
	border-bottom-color: #CCC;
}

.mytimestamp{
	color: gray;
}
.sep8{
	height: 8px;
}
