<h4>Notification Items
</h4>
<% @activities.each do |activity| %>
  <% if activity.trackable && activity.owner %>
  <li>
    <div class="activity">
      <div class = "user_image">
        <%= link_to gravatar_for(activity.owner, {:size =>20 }), activity.owner %>
      </div>
      <%= link_to activity.owner.name, activity.owner %>
      <%= render_activity activity %>
      <span class="timestamp">
        <%= time_ago_in_words(activity.created_at ) %>
        ago.
      </span>
    </div>
   </li>
  <% end %>
<% end %>