<div id="sidebar-static-right">
  <div id="sidebar-right-ctrl">
  	<div id="sidebar-arrow">
  		
  	</div>
  </div>
  <div id="sidebar-right-main">
  	<%= render "shared/micropost_form" %>
  </div>
</div>
