<footer class="footer">
    <a href="https://github.com/WuPei/nus_help">NUS HELP</a>
    by Dai Yuan, Han Yu, Song Yangyu, 
    <%= link_to "WuPei", "https://github.com/WuPei", {:style => 'color: #CCC'} %>
    <strong> | </strong>
    <%= link_to "Contact Us", "mailto:nushelp@gmail.com" %>
    <strong> | </strong>
    <%= link_to "Privacy Policy", "/privacy" %>
</footer>
