<footer class="footer">
<small>
  <a href="http://railstutorial.org/">NUS HELP</a>
  by Dai Yuan, Han Yu, Song Yangyu, Wu Pei
</small>
<nav>
  <ul>
  <li><%= link_to "About",   about_path %></li>
  <li><%= link_to "Contact", contact_path %></li>
  <li><a href="http://github.com/wupei/">News</a></li>
  </ul>
</nav>
</footer>
