  <aside>
  <section>
    <%= render 'shared/user_info' %>
  </section>
  <% if @user.nil? || @user == current_user %>
    <section> <%= render 'shared/micropost_form' %> </section>
  <% end %>
</aside>
