<div class="websitestats">
  <h5>Website Stats</h5>
  <p>Registered Students    <strong>999</strong></p>
  
  <p># of Helps    <strong>999</strong></p>
  
  <p># of Replies    <strong>999</strong></p>
  
</div>
