<div class="websitestats">
  <h5>Website Stats</h5>
  <p>Registered Students    <strong><%= User.all.count %></strong></p>
  
  <p># of Helps    <strong><%= Micropost.all.count %></strong></p>
  
  <p># of Replies    <strong><%= HelpRec.all.count %></strong></p>
  
</div>
